@import "../colors";

.time {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);

  cursor: pointer;
  user-select: none;
}

.active {
  color: $active-text;
}

.mark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 6px;
  background-color: #8080807d;
  transform-origin: top;
}

.mark5 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: #aeaeae7d;
  transform-origin: top;
}
