@import "../colors";

.outerShape {
  position: relative;
  width: 270px;
  height: 270px;

  border-radius: 135px;
  background: linear-gradient(135deg, #151515 0%, #141414 100%);
  box-shadow: -21px 21px 42px rgba(8, 8, 8, 0.2),
    21px -21px 42px rgba(8, 8, 8, 0.2), -21px -21px 42px rgba(30, 30, 30, 0.9),
    21px 21px 53px rgba(8, 8, 8, 0.9), inset 1px 1px 2px rgba(30, 30, 30, 0.3),
    inset -1px -1px 2px rgba(8, 8, 8, 0.5);
}

.face {
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 115px;
  left: 20px;
  top: 20px;

  background: #191919;
  box-shadow: 1px 1px 2px rgba(37, 37, 37, 0.3),
    -1px -1px 2px rgba(13, 13, 13, 0.5),
    inset -4px 4px 8px rgba(13, 13, 13, 0.2),
    inset 4px -4px 8px rgba(13, 13, 13, 0.2),
    inset -4px -4px 8px rgba(37, 37, 37, 0.9),
    inset 4px 4px 10px rgba(13, 13, 13, 0.9);
}
