@import "colors";

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 84px;

  background: linear-gradient(
    113.16deg,
    #000000 3.79%,
    rgba(15, 15, 15, 0.92) 23.6%,
    rgba(10, 10, 10, 0.89) 69.27%,
    #000000 94.81%
  );
}
